# Dependencies
**/node_modules/

# Build outputs & generated directories
**/dist/
**/build/
**/.output/
**/.nuxt/
**/*.nuxt/
**/coverage/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.log

# Environment files (local overrides)
.env.local
.env.*.local

# IDE / OS misc
.DS_Store
**/.DS_Store
.vercel/
*.swp
*.swo
Thumbs.db

# Git-related
.git
